In [1]:
import pandas as pd
import numpy as np

##### Загрузим справочник гор

In [82]:
data = pd.read_csv( 'Mountains.csv' )
data.head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

Отчистим данные от NaN  занчений в столбце Parent mountain

In [83]:
data.loc[ ~pd.isnull( data['Parent mountain'] ) ].head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
5,6,Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0

Сгрупируем данные и подсчитаем уникальные по столбцу 'Parent mountain'

In [84]:
data = data.groupby('Parent mountain')['Parent mountain'].count()

Проверим тип данных после группировки

In [85]:
type(data)

pandas.core.series.Series

In [86]:
data.head()

Parent mountain
Annapurna        1
Annapurna I      2
Annapurna III    1
Batura Sar       3
Cho Oyu          7
Name: Parent mountain, dtype: int64

Поможем JUpyter понять что мы будем работать с типом данных pd.core.series.Series

In [87]:
data : pd.core.series.Series

Возьмем только те данные количество которых больше 3х

In [88]:
data = data[ lambda x : x > 3 ]

In [89]:
data.head()

Parent mountain
Cho Oyu          7
Dhaulagiri       4
Distaghil Sar    5
Gasherbrum I     8
K2               5
Name: Parent mountain, dtype: int64

Отсортируем и выведем

In [90]:
data.sort_values(ascending = False)

Parent mountain
Mount Everest    9
Gasherbrum I     8
Kangchenjunga    7
Cho Oyu          7
K2               5
Distaghil Sar    5
Shisha Pangma    4
Dhaulagiri       4
Name: Parent mountain, dtype: int64